fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
authlib
python-jose[cryptography]
passlib[argon2]
argon2-cffi
boto3
groq
anthropic
weasyprint
httpx
itsdangerous
sendgrid
docxtpl
python-docx
alembic
cachetools
email-validator
resend
