fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
authlib
python-jose[cryptography]
passlib[bcrypt]
boto3
groq
anthropic
weasyprint
httpx
itsdangerous
fastapi-mail
docxtpl
python-docx
alembic
